# .env

SECRET_KEY=your_django_secret_key
DEBUG=True
ALLOWED_HOSTS=127.0.0.1,localhost

# Database settings (PostgreSQL)
DB_NAME=goodhabitlab_db
DB_USER=goodhabitlab_user
DB_PASSWORD=goodhabitlab_password
DB_HOST=localhost
DB_PORT=5432

# Redis for Celery
CELERY_BROKER_URL=redis://localhost:6379/0
CELERY_RESULT_BACKEND=redis://localhost:6379/0

# Telegram Bot API
TELEGRAM_BOT_TOKEN=YOUR_TELEGRAM_BOT_TOKEN
TELEGRAM_CHAT_ID=YOUR_TELEGRAM_CHAT_ID # (опционально, для тестовых отправок)
BASE_URL=http://your_ngrok_url # Пример: https://abcdef123456.ngrok-free.app

# Email settings (для сброса пароля)
EMAIL_BACKEND=django.core.mail.backends.console.EmailBackend # Для разработки: выводит письма в консоль
# EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend # Для продакшена
# EMAIL_HOST=smtp.example.com
# EMAIL_PORT=587
# EMAIL_USE_TLS=True
# EMAIL_HOST_USER=your_email@example.com
# EMAIL_HOST_PASSWORD=your_email_password